.header  {
    margin-top:64px;
}
nav {
    height: 60px;
}
nav a {
    font-size: 21px;
    line-height: 60px;
}
.logo {
    width: 275px;
    margin-left: 14px
}
.nav-item {
    padding: 2px 47px 0 0;
}
.nav-item li:last-child {
    padding: 0;
}
.log-in {
    width: 150px;
    height: 51px;
    margin: 8px 0 0 134px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .8px;
    border: 2px solid #0b51ca;
    color: #0b51ca;
}
