nav {
    height: 60px;
}
nav a {
    line-height: 60px;
}
.logo {
    width: 150px;
}
.nav-bar {
    float: right;
}
.nav-list {
    display: flex;
}
.nav-list li {
    list-style: none;
    margin-right: 10px;
}
.nav-list li:last-child {
    margin-right: 0;
}
