.home-image {
    width: 828px;
    position: relative;
    top: 54px;
    right: 75px;
}
.home {
    margin-top: 100px;
}
.block-find-form {
    display: flex;
    flex-direction: column;
    padding: 192px 0;
}

.docas-find-form-button {
    height: 60px;
    width: 200px;
    margin: 19px auto;
    background-color: #0b51ca;
    border: none;
    font-size: 18px;
}

.block-find-form h1 {
    font-size: 58px;
    margin-bottom: 58px;
}

.block-last-form {
    margin-top: 177px;
}

.block-last-form h2 {
    font-size: 48px;
}
.square {
    width: 570px;
    height: 441px;
    margin: 14px;
    background-color: #d9e8f7;
    display: flex;
    border-radius: 5px;
}
.square ul {
    align-items: flex-end;
    margin-inline-start: auto;
    margin-bottom: 15px;
    color: #000;
}
.form-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.form-filter p {
    margin-left: 15px;
}
.form-btns-filters {
    display: flex;
    justify-content: center;
}
.explore-docas {
    position: relative;
    margin-top: 147px;
    overflow: hidden;
}
.explore-docas > .row > img {
    position: absolute;
    right: -70px;
    top: 35px;
}
.explore-docas-text {
    width: 475px;
    margin: 0 0 0 112px;
}
.explore-docas-text h2 {
    font-size: 48px;
    letter-spacing: .8px;
    font-weight: bold;
}
.explore-docas-text p {
    font-size: 23px;
    margin: 56px 0 0 4px;
    line-height: 37px;
}
.explore-docas-btns {
    margin: 70px 0 0 7px;
}
.explore-docas-btns button {
    height: 61px;
    width: 200px;
    margin-right: 12px;
    font-size: 20px;
    text-transform: uppercase;
}
.macbook {
    display: flex;
    justify-content: center;
    padding: 32px 0px;
}
