@font-face {
  font-family: 'Niramit';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Niramit-Regular.ttf') format('truetype');
}

body {
    font-family: 'Niramit', sans-serif;
}
a {
    color: #000;
}
a:hover {
    text-decoration: none;
}
.selected {
    color: #0b51ca;
}
.docas-btn-primary {
    color: #fff;
    width: 150px;
    height: 40px;
    box-shadow: 0 25px 42px rgba(69, 137, 254, 0.35);
    background-color: #0b51ca;
}
.docas-btn-transparent {
height: 40px;
border: 2px solid #0b51ca;
padding: 10px
}
.docas-input {
    height: 40px;
    border: 2px solid #0b51ca;
}
